<h1 style="text-align:center;">Blackjack!</h1>

<h2> Welcome to the game <%= session[:username]%>. Good luck!</h2>


<h4>Dealer's hand:</h4> 
<div class="well">
  <% if @show_cards %>
    <img class="card_display" src="<%= card_img_selector(session[:dealer_cards][0]) %>">
  <% else %>
    <img class="card_display" src="/img/cards/cover.jpg">
  <% end %>
  <% session[:dealer_cards][1..session[:dealer_cards].count].each do |card| %>
  <img class="card_display" src="<%= card_img_selector(card) %>">
  <% end %>
  <% if @dealer_hit %>
    <h4>The dealer has <%= calculate_total(session[:dealer_cards][1..session[:dealer_cards].count]) %> showing and chooses to hit</h4>
    <form method="get" action="/game/dealer/hit">
    	<input type="submit" value="Deal!" name="deal_to_dealer" class="btn btn-primary">
    </form>
  <% end %>
</div>

<br />
<br />

<h4>Your hand:</h4> 
<div class="well">
	<% session[:player_cards].each do |card| %>
	<img class="card_display" src="<%= card_img_selector(card) %>">
	<% end %>
</div>

<br />
<br />

<% if session[:player_stay] == false && @dealer_hit != true && @player_hit != true %>
<h4>
	Your ideal total is <%= calculate_total(session[:player_cards]) %> currently. Would you like to hit or stay?
</h4>
<br />
<form id="hit_form" method="post" action="/game/player/hit">
	<input name="hit" class="btn btn-success" type="submit" value="Hit!">
</form>
<form id="stay_form" method="post" action="/game/player/stay">
	<input name="stay" class="btn btn-warning" type="submit" value="Stay!">
</form>

<% elsif session[:player_stay] == true && session[:dealer_stay] != true && @dealer_hit != true %>
<h4>
  You have <%= calculate_total(session[:player_cards]) %> and are staying. Press continue to go to the next dealer action.
</h4>
  <form method="get" action="/game/dealer">
    <input type="submit" class="btn btn-primary" value="Continue!">
  </form>

<% elsif @player_hit %>
<h4>
  You hit and now have <%= calculate_total(session[:player_cards]) %>. Press continue below to go to the next dealer action.
</h4>
  <form method="get" action="/game/dealer">
    <input type="submit" class="btn btn-primary" value="Continue!">
  </form>

<% end %>